{% extends "layout.html" %}
{% block content %}

<form action="/edit" method=post autocomplete="off">
<div id='edit_div'>
<table id='editTable'>
<thead>
<tr>
<th></th>
<th>Delete</th>
<th>Word</th>
<th>Meaning</th>
<th>Times Seen</th>
</tr>
</thead>
<tbody>
{% for w in words %}
<tr>
<td>{{w.index + 1}}</td>
<td class="delete"><input type="checkbox" name="delete_{{w.index}}"></td>
<td><input type="text" value="{{w.text}}" name="text_{{w.index}}"></td>
<td><input type="text" value="{{w.meaning}}" name="meaning_{{w.index}}"></td>
<td>{{w.times_seen}}</td>
</tr>
{% endfor %}
<tr>
<td></td>
<td></td>
<td><input type="text" name="text_new_1"></td>
<td><input type="text" name="meaning_new_1"></td>
</tr>
</tbody>
</table>
</div>
<input type="submit" value="submit">
</form>

{% endblock %}
