{% extends "layout.html" %}
{% block content %}

<form action="/edit" method=post autocomplete="off">
<table id='editTable'>
<thead>
<tr>
<th>Delete</th>
<th>Word</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
{% for w in words %}
<tr>
<td class="delete"><input type="checkbox" name="{{w.text}}   {{w.meaning}}"></td>
<td>{{w.text}}</td>
<td>{{w.meaning}}</td>
</tr>
{% endfor %}
<tr>
<td></td>
<td><input type="text" name="newWord_text"></td>
<td><input type="text" name="newWord_meaning"></td>
</tr>
</tbody>
</table>
<input type="submit" value="submit">
</form>

{% endblock %}
