{% extends "layout.html" %}
{% block content %}

<h4>Upload a CSV File with the Words and Meanings You Want to Learn</h4>
<p>The easiest way to make this file is to create a list of the words you want, upload it to google sheets and use the GoogleTranslate command in the second column to get an initial guess on the meanings</p>

<form action="/upload" method="post" autocomplete="off">
file name: <input type="text" name="csv_name" autofocus>
<br/>
<input type="submit" value="submit">
</form>

{% endblock %}
